<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Food</title>
    <link rel="shortcut icon" href="./images/logo/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <a href="#content" class="skip-content">Skip Content</a>
    <header class="header"> 
        <div class="header-inner">
            <img src="./images/logo/logo.png" class="header-logo" alt="logo">
            <h1 class="header-tittle"> <a href=""> Explore Food </a> </h1>
            <button class="menu" >☰</button>
        </div>
        <nav id="drawer" class="nav-bar">
            <ul class="nav-content">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="#">Favorite</a></li>
                <li class="nav-item"><a href="https://www.facebook.com/waqitfery.setyoko" target="blank">About Us</a></li>
            </ul>
        </nav>
        
    </header>

    <div class="hero">
        <div class="hero-inner">
            <h2 class="hero-tittle">Find it interesting</h2>
            <p class="hero-description">Explore interesting places by trying it
            </p>
        </div>
    </div>

    <main>
        <section class="content" id="content">
            <h2 class="text-post">Explore Restaurant</h2>
            <div class="posts" id="posts">
            </div>
        </section>
    </main>

    <footer class="footer">
        <span class="footer-copyright">Copyright © 2021 - Explore Food</span>
    </footer>
</body>
</html>
